{% extends 'base.html.twig' %}

{% block title %}Bookland | Modifier genre{% endblock %}
{% block logo %}
    <img src="../../img/logo-transparent.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <td>

                <p class="h2">Modifier le genre {{ genre.nom }}</p>
            </td>
            <td style="text-align: right;">
                {{ include('genre/_delete_form.html.twig') }}
            </td>
        </tr>
    </table>

    {{ include('genre/_form.html.twig', {'button_label': 'Valider'}) }}
{% endblock %}
