{% extends 'base.html.twig' %}

{% block title %}Bookland | Ajouter genre{% endblock %}
{% block logo %}
    <img src="../../img/logo-transparent.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
{% endblock %}

{% block body %}
    <p class="h2">Ajouter un Genre</p>

    {{ include('genre/_form.html.twig') }}

{% endblock %}
